@import url('https://fonts.googleapis.com/css2?family=Forum&family=Manrope&display=swap');
$font: 'Forum', cursive;
$font-second: 'Manrope', sans-serif;
$color: #0c0b10;
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  font-size: 16px;
  background-color: #e2d3ce;
  font-family: $font;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}
button {
  border: none;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.about-us {
  min-height: 1640px;
  background-image: url(../images/bg_about-us.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-us__box {
  padding-top: 180px;
  max-width: 550px;
  display: flex;
  margin: 0 auto;
}
.about-us__title {
  white-space: pre-wrap;
  flex: 1;
  font-weight: 400;
  font-size: 60px;
  color: $color;
  line-height: 58px;
}
.about-us__text,
.about-us__text-second {
  flex: 1;
  font-weight: 400;
  line-height: 179.8%;
  font-family: $font-second;
}
.about-us__img {
  margin: auto;
  max-width: 1100px;
  min-height: 310px;
  position: relative;
  background-image: url(../images/about-us_rhombus.png);
  background-position: 46% 102%;
  background-repeat: no-repeat;
}
.about-us__img-first {
  position: absolute;
  left: 5%;
  top: -15px;
}
.about-us__img-child {
  box-shadow: 3px 17px 24px rgba(0, 0, 0, 0.25);
  border-radius: 11.6406px;
}
.about-us__img-first::after {
  background-image: url(../images/about-us_rhombus-second.png);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: 45px;
  bottom: -38px;
  height: 90px;
  width: 47px;
}
.about-us__img-first::before {
  background-image: url(../images/about-us_rhombus-third.png);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: -14px;
  top: 147px;
  height: 56px;
  width: 30px;
}
.about-us__img-second {
  top: 130px;
  left: 75%;
  position: absolute;
}
.about-us__img-family {
  border-radius: 6.15158px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.about-us__img-second::after {
  background-image: url(../images/about-us_rhombus-third.png);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: 27px;
  bottom: -22px;
  height: 56px;
  width: 30px;
}
.about-us__img-third {
  bottom: -310px;
  right: 0;
  position: absolute;
}
.about-us__img-woman {
  border-radius: 9.07436px;
  box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.25);
}
.about-us__img-third::after {
  background-image: url(../images/about-us_rhombus-second.png);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: 50px;
  bottom: -40px;
  height: 90px;
  width: 47px;
}
.about-us__box-second {
  justify-content: center;
  padding-top: 270px;
  column-gap: 1.7vw;
  row-gap: 60px;
  display: grid;
  grid-template-columns: 320px 352px;
  grid-template-rows: 190px 330px 180px;
  grid-template-areas:
    'title text-second'
    'img text-third'
    'img btn';
}
.about-us__title-second {
  margin-left: auto;
  max-width: 256px;
  grid-area: title;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: $color;
}
.about-us__text-second {
  grid-area: text-second;
  max-width: 255px;
}
.about-us__img-couple {
  grid-area: img;
  border-radius: 12.6979px;
  box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.25);
}
.about-us__text-third {
  margin-top: auto;
  grid-area: text-third;
  color: $color;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  font-family: $font;
}
.about-us__btn {
  grid-area: btn;
  border: 0.624428px solid #0c0b10;
  border-radius: 61.3171px;
  background-color: transparent;
  height: 38px;
  width: 217px;
  padding: 10px 30px 10px 30px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
}
.about-us__btn:hover {
  background-color: black;
  color: #ffffff;
}
.customise {
  margin-top: -200px;
  padding-top: 330px;
  background-image: url(../images/bg_customise.png);
  min-height: 2300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.customise__column {
  // margin: auto;
  max-width: 540px;
}
.customise__title {
  margin: auto;
  max-width: 403px;
  font-weight: 400;
  font-size: 60px;
  line-height: 58px;
  text-align: center;
  color: $color;
}
.customise__number {
  width: 115px;
  width: 100%;
  font-weight: 400;
  font-size: 73px;
  line-height: 98.5%;
  color: $color;
  position: relative;
  grid-area: number;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customise__number::before {
  background-image: url(../images/customise_rhombus.png);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: 0;
  width: 115px;
  height: 219px;
}
.customise__number::after {
  background-image: url(../images/customise_line.png);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  height: 71px;
  width: 2px;
  left: 50%;
  top: 191px;
}
.customise__number_third::after {
  background-image: none;
}
.customise__steps {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  row-gap: 110px;
  align-items: center;
}
.customise__step {
  display: grid;
  grid-template-columns: 115px 321px;
  grid-template-rows: 75px min-content;
  grid-template-areas:
    'number title'
    'number text';
  column-gap: 5vw;
  row-gap: 12px;
}
.customise__step-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 98.5%;
  color: $color;
  grid-area: title;
  padding-right: 50px;
}
.customise__step-title_second {
  display: flex;
  align-items: flex-end;
}
.customise__text {
  font-weight: 400;
  line-height: 179.8%;
  font-family: $font-second;
  grid-area: text;
}
.customise__btn {
  margin-top: 100px;
  position: relative;
  width: 540px;
  height: 55px;
  background-color: $color;
  border-radius: 74px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.customise__btn::before {
  background-image: url(../images/customise_btn.png);
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: 32px;
  background-repeat: no-repeat;
  width: 486px;
  height: 99px;
}
.customise__free {
  font-weight: 400;
  line-height: 179.8%;
  color: $color;
  font-family: $font-second;
  text-align: center;
  padding-top: 25px;
}
.subscribe__block {
  margin: -345px auto 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12%;
  padding-top: 140px;
  padding-bottom: 150px;
  max-width: 1110px;
  background-image: url(../images/bg__subscribe.png),
    url(../images/bg_subscribe-border.png);
  background-position: 0px 40px, center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.subscribe__text {
  max-width: 500px;
}
.subscribe__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 58px;
  color: #ffffff;
  padding-bottom: 20px;
}
.subscribe__subtitle {
  font-weight: 400;
  line-height: 179.8%;
  color: #ffffff;
  font-family: $font-second;
}
.subscribe__input-btn {
  margin-top: 55px;
  position: relative;
  max-width: 730px;
}
.subscribe__input {
  width: 480px;
  border: 1px solid #ffffff;
  border-radius: 95px;
  height: 55px;
  background: transparent;
  backdrop-filter: blur(10px);
  outline: none;
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 179.8%;
  color: $color;
  font-family: $font-second;
  padding-left: 30px;
}
.subscribe__btn {
  position: absolute;
  width: 330px;
  height: 55px;
  margin-left: -70px;
  background: #ffffff;
  border-radius: 74px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 1;
  right: 0;
  cursor: pointer;
}
.subscribe__btn::before {
  background-image: url(../images/subscribe_btn.png);
  content: '';
  display: block;
  position: absolute;
  top: -26px;
  left: 26px;
  bottom: -33px;
  right: 0;
  background-repeat: no-repeat;
}
.reviews__title {
  height: 212px;
  max-width: 267px;
  font-weight: 400;
  font-size: 60px;
  line-height: 58px;
  text-align: center;
  color: $color;
  margin: 0 auto 40px auto;
  background-image: url(../images/reviews_rhombus.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 45px;
}
.reviews__list {
  margin-top: 45px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  padding: 0 16px;
}
.reviews__item {
  max-width: 613px;
  min-height: 677px;
  background-image: url(../images/reviews_border.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: #1d1a1a;
  font-family: $font-second;
  padding: 80px 65px 50px 65px;
}
.reviews__text {
  font-weight: 300;
  font-size: 21px;
  line-height: 37px;
  padding: 55px 0 88px 0;
}
.reviews__author {
  font-weight: 600;
  font-size: 19.5451px;
  line-height: 94.5%;
  padding-bottom: 10px;
}
.reviews__author-place {
  font-weight: 300;
  font-size: 16.7529px;
  line-height: 94.5%;
}
.contact {
  background-image: url(../images/bg_contact.png);
  min-height: 1114px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -450px;
  padding-top: 900px;
}
.contact__wrap {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 920px;
  min-height: 525px;
  border: 1px solid #ffffff;
  backdrop-filter: blur(4.5px);
  border-radius: 10px;
  background: rgba(226, 211, 206, 0.2);
  background-size: 0 20px;
}
.contact__inner {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.contact__btn {
  margin-top: 15px;
  position: relative;
  width: 350px;
  height: 55px;
  background-color: $color;
  border-radius: 74px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.contact__btn::before {
  background-image: url(../images/contact_btn.png);
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: 25px;
  background-repeat: no-repeat;
  width: 304px;
  height: 99px;
}
.contact__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 58px;
  text-align: center;
  color: $color;
}
.contact__input {
  height: 55px;
  background: rgba(255, 255, 255, 0.14);
  border: 1px solid #ffffff;
  backdrop-filter: blur(10px);
  border-radius: 95px;
  outline: none;
}
.contact__input::placeholder {
  font-weight: 400;
  line-height: 179.8%;
  text-align: center;
  color: $color;
  font-family: $font-second;
}
.button:hover {
  background-color: black;
  cursor: pointer;
}
.footer {
  background: url(../images/bg_footer.png) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 555px;
}
.footer__wrapper {
  padding-top: 100px;
}
.footer__logo {
  display: block;
  margin: auto;
}
.footer__menu {
  padding-top: 80px;
  display: flex;
  column-gap: 60px;
  padding-right: 65px;
  justify-content: center;
  align-items: center;
}
.footer__menu-list {
  display: flex;
  column-gap: 60px;
}
.footer__menu-link {
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $color;
}
.footer__menu-link:hover {
  color: #ffffff;
}
.footer__menu-btn {
  background-image: url(../images/footer_btn.png);
  width: 156px;
  height: 56px;
  background-color: transparent;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
}
.footer__menu-btn:hover {
  color: white;
}
.footer__copyright-text {
  padding-top: 140px;
  max-width: 1110px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  font-family: $font-second;
}
