@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@400;500;600&display=swap');

$color-primary:#FFFFFF;
$color-secondary: #000000;
$font-primary:'Forum', cursive;
$font-secondary:'Manrope', sans-serif;
$border: 2px solid red;

%flex-beetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
%font-primary{
    font-family: $font-primary;
    font-weight: 400;
}
%font-secondary{
    font-family: $font-secondary;
    font-weight: 400;
}
%bg-primary{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;  
}
html{
    font-size: 62.5%; /*10px*/
}
.container-global{
    background-color: #E2D3CE; 
    font-size: 1.6rem;
    color: $color-secondary;
    font-family: $font-primary;
    background-image:url(../images/bg_top_inner.png),url(../images/bg_footer.png);
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
[class*="__container"]{
    max-width: 160rem;
    border: solid green;
    margin: 0 auto;
    padding: 5px;
    box-sizing: content-box;
}
 /*header*/
 .header__container {
    max-width: 160rem;
    min-height: 6.4rem;
    margin: 0 auto
 }
.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 0rem 0.4rem;
}
.header__logo{
    width: 12.1rem;
    height: 6.35rem;
    display: flex;
    justify-content: flex-start; 
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);  
}
.header__logo-img{
    max-width: 100%;
    display: block;
  
}
.header__list{
    max-width: 105.5rem;
    max-height: 18px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header__item{
    text-decoration: none;
    color: inherit;
    @extend %font-primary;
    line-height: 1.125;
    font-size: 1.6rem;
}
.header__item:not(:last-child){
    margin: 0px 4rem 0px 0px;
}
.header__link{
    text-decoration: none;
    color: inherit;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);  
    cursor: pointer;
}
.header__link:hover{
    text-decoration: underline;
    color: $color-primary;
}
.header__button-box{
    width: 12.1rem;
    height: 4rem;
    background-image: url(../images/button_call_me.png);
    @extend %bg-primary;
    background-size: 100% 100%;
    object-fit: cover;
    @extend %flex-center;
    letter-spacing: 0.4px;
    line-height: 17.6px; 
    padding: 5px 25px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);  
}
 /*main*---------------------------------------------*/
 .main__container-title{
    min-height: 7.1rem;
    margin: 0 auto;
    margin-bottom: 3.7rem;
    text-align: center;
}
.main__title{
    @extend %font-primary;
    font-size: 6rem;
    line-height: 5.8rem;
    margin: 0;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);  
}
.main__grid{
    max-width: 160rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33.33%);
    align-items: start;
    gap: 1rem;
    padding: 6.5rem;
    margin: 10rem;
    box-sizing: border-box; 
}
.grid-item{
    max-width: 54rem;
    min-height: 19.1rem;
    height: auto;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);  
}
.main__grid_item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2; 
}
.main__grid_item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;  
}
.main__grid_item3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.main__grid_item4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.main__grid_item5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.main__grid_item6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}  
.main__grid_item-title1, .main__grid_item-title2, .main__grid_item-title3, .main__grid_item-title4, .main__grid_item-title5, .main__grid_item-title6{
    max-width: 54rem;
    min-height: 19.1rem;
    @extend %flex-center;
    border-radius: 1rem;
    object-fit: cover;
    background: rgba($color: $color-primary, $alpha: 0);
    position: relative;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); 
}
.main__grid_item-title_link{
    color: $color-primary;
    font-size: 4.4rem;
    line-height: 4.35rem;
    text-transform: uppercase;
    @extend %font-primary;
    text-decoration: none;
    @extend %bg-primary;  
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);    
}
.main__grid_item-title1{
    background-image: url(../images/main-supercars1.png);
}
.main__grid_item-title2{
    background-image: url(../images/main-hotels2.png);
}
.main__grid_item-title3{
    background-image: url(../images/main-villas3.png);
}
.main__grid_item-title4{
    background-image: url(../images/main-yachts4.png);
}
.main__grid_item-title5{
    background-image: url(../images/main-helicopter5.png);
}
.main__grid_item-title6{
    background-image: url(../images/main-jet6.png);
}
.main__grid_item-text{
    max-width: 60rem;
    min-height: 36.9rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    margin-top: -8.2rem;
    border-radius: 1rem;  
}
.main__grid_item-text-p{
    max-width: 41rem;
    min-height: 15.7rem;
    text-align: center;
    margin: 11.2rem 6.5rem;
    @extend %font-secondary;  
    font-size: 1.8rem;
    line-height: 2;
}
.main__grid_item-button_btn-box{
    width: 25.4rem;
    height: 9.9rem;
    @extend %flex-center;
    background-image: url(../images/main-buttom-bg1.png);
    @extend %bg-primary;
    background-size: 85%;
    object-fit: cover;
    margin: -130px 100px 32px;
}
.main__grid_item-button_box-link{
    display: inline-block;
    width: 100%;
    padding: 0.55em 1em;
    background: #0C0B10;
    border: none;
    border-radius: 3rem;
    text-align: center;
    font-family: $font-primary;
    font-size: 2.4rem;
    line-height: 2.65rem;
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;
}
/*доделать */
.subscribe__box {
    margin: -1rem auto 7rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    padding-top: 14.5rem;
    padding-bottom: 11rem;
    max-width: 111rem;
    background-image: url(../images/main-subscrube-bg.png), url(../images/main-subscribe-border.png);
    background-position: 5rem, center;
    background-repeat: no-repeat;
    border-radius: 1rem;
  }
  .subscribe__box > *:not(:last-child){
    margin: 0px 0px 35px 0px ;
  }
  .subscribe__description{
    max-width: 56.5rem;
    padding-left: 18.5rem;
    margin-bottom: 4.4rem;
  }
  .subscribe__title {
    max-width: 52rem;
    min-height: 21rem;
    font-weight: 400;
    font-size: 6rem;
    line-height: 1.03;
    color: #ffffff;
    padding-bottom: 2rem;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25); 
  }
  .subscribe__subtitle {
    font-weight: 400;
    line-height: 1.798;
    color: #ffffff;
    font-family: "Manrope", sans-serif;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25); 
  }
  .subscribe__input-btn {
    margin-top: 55px;
    position: relative;
    max-width: 730px;
  }
  .subscribe__input {
    width: 480px;
    border: 1px solid #ffffff;
    border-radius: 95px;
    height: 55px;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    outline: none;
  }
  .subscribe__input::-moz-placeholder {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.798;
    color: #0c0b10;
    @extend %font-secondary;
    padding-left: 30px;
  }
  .subscribe__input::placeholder {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.798;
    color: #0c0b10;
    @extend %font-secondary;
    padding-left: 30px;
  }
  .subscribe__btn {
    position: absolute;
    width: 330px;
    height: 55px;
    margin-left: -60px;
    background: #ffffff;
    border-radius: 74px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.08;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    z-index: 1;
    right: 0;
    cursor: pointer;
  }
  
  .subscribe__btn::before {
    content: "";
    display: block;
    position: absolute;
    top: -36px;
    left: 26px;
    bottom: -33px;
    right: 0;
    background-repeat: no-repeat;
  }
  .subscribe__button{
    display: none;
    }
  
/*------------------------------------------------------*/  
.footer__container{
    max-width: 160rem;
    min-height: 55rem;
    margin-bottom: 8rem;
    border: solid 3px blue;  
}
.footer__logo{
    min-height: 30rem; 
    border: solid 3px purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__logo-img{
    margin: 15rem 0rem 7rem;
    display: block;
    max-width: 21.5rem; 
    min-height: 11.3rem; 
    border: $border;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25); 
}
.footer-nav{
    max-width: 67vw;
    border: $border; 
    margin: 0px auto 10.6rem;
}
.footer-nav__menu-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    border: 1px solid yellow;  
}
.footer-nav__menu-list:not(:last-child){
    padding: 0rem 5.4rem 0rem 0rem;
}
.footer-nav__menu-link{
    @extend %font-primary;
    line-height: 1.125;
    font-size: 1.6rem;
    color: #0C0B10;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25); 
    border: 1px solid green;   
}
.footer-nav__menu-link:hover{
    text-decoration: underline;
    color: $color-primary;
}
.footer-nav__button{
    padding: 0.8rem;
    background-image: url(../images/button_call_me.png);
    @extend %bg-primary;      
}
.footer-nav__button-box{
    max-width: 15.6rem;
    max-height: 5.6rem;
    text-align: center;
}
.footer-nav__button-link{
    max-width: 10.7rem;
    max-height: 18px;
    @extend %font-primary;
    font-size: 1.6rem;
    line-height: 1.125;
    margin: 1rem 2.5rem;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25); 
}
.privacy__container{
    min-height: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border: 2px solid purple;
}
.privacy__text{
    @extend %font-secondary;
    font-size: 1.2rem;
    line-height: 1.33;
    color:$color-primary;
    padding: 0.5rem;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25); 
    border: 2px solid purple;
}

@media (max-width: 1260px){
    html{
       font-size: 46.875%;
    }
    .main__grid{
        max-width: 120rem;
        margin: 0 auto;
        padding: 5.5rem;
    }
    .main__grid_item-text-p{
            max-width: 41rem;
            min-height: 17.7rem;
    }
    .main-subscribe__container{
        max-width: 120rem;
        margin: 0 auto;
    }
    .subscribe__box {
        margin: 4rem auto 7rem auto;
        max-width: 120rem;
        background-position: 100%;
      }
    .subscribe__button{
        display: none;
    }
    }

@media screen and (max-width: 902px) {
    html{
       font-size: 35.156%;
    }
    .main__grid_item-text-p {
        max-width: 40rem;
        min-height: 23.7rem;
    }
    .main-subscribe__container{
        max-width: 120rem;
        margin: 0 auto;
    }
    .subscribe__box {
        margin: 4rem auto 7rem auto;
        max-width: 120rem;
        background-position: 100%;
      }
    
    .subscribe__buttons{ /*  не появляются кнопки доделать*/
        min-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2px;
        color: $color-secondary;
        font-weight: 400;
        text-align: center;
        line-height: 150%;
        border-radius: 3.7rem;
        padding: 0.5rem 3.6rem;
    }
    .subscribe__input-btn {
        display: none;
    }
}

@media (max-width: 700px){ /*мобильная адаптация доделать*/
    html{
       font-size: 26.367%;
    }
}