html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


img {
  max-width: 100%;
}

body {
  background: #E5E5E5;
}


ul {
    list-style: none;
  }
a{
    text-decoration: none;
}

html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, img, hr, pre, form, fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
  }




/* veriables */
$backdraund-color:#E5E5E5;
$font: 'Playfair Display', serif;






//?
%font_500 {
    font-style: normal;
    font-weight: 500;
}

%font_400 {
    font-style: normal;
    font-weight: 400;
}
%font_300 {
    font-style: normal;
    font-weight: 300;
}
//?


.body{
    font-family:$font;
    color: #000000;
}

.header{
    background-image: url(../../page_2/images/heade_bg_top_inner.png);
    min-height: 475px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

&__nav-list{
    display: flex;
    gap: 40px;
}
}

    
